.items {
  margin-top: 35px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.imageContainer {
  flex: 1;
  aspect-ratio: 1/1;
  position: relative;
  max-width: 60px;
  max-height: 60px;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid var(--border);
  background-color: var(--softBg);
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.textContainer {
  flex: 4;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.category {
  padding: 3px 8px;
  border-radius: 10px;
  font-size: 12px;
  color: white;
  width: max-content;
}

.category.ai {
  background-color: #ff6b6b;
}

.category.programming {
  background-color: #5e4fff;
}

.category.docker {
  background-color: #1e90ff;
}

.category.gaming {
  background-color: #4ecdc4;
}

.category.webdev {
  background-color: #ff9529;
}

.category.ml {
  background-color: #6c5ce7;
}

.category.devops {
  background-color: #a29bfe;
}

.category.cybersecurity {
  background-color: #e17342;
}

.postTitle {
  font-size: 18px;
  font-weight: 500;
  color: var(--softTextColor);
}

.detail {
  font-size: 12px;
}

.date {
  color: gray;
}